.infoHUD {
  position: absolute;
  right: 0px;
  bottom: 0%;
  height: 300px;
  width: 300px;
  padding: 10px;
}

#nftImage {
  position: relative;
}

#market {
  position: absolute;
  right:0px;
  bottom: 0px;

}