.infoHUD {
  position: absolute;
  font-family: 'Rationale', sans-serif;
  color: whitesmoke;
  right: 0px;
  bottom: 0%;
  height: 300px;
  width: 300px;
  margin-right: 1%;
  margin-bottom: 2.5%;
}

#nftImage {
  position: relative;

}

#market {
  position: absolute;
  right:0px;
  bottom: 0px;

}

