
@font-face {
  font-family: 'Katamari-serif';
  src: url('../assets/fonts/katamari_serif.ttf') format('truetype');
}

h2 {
  position: absolute;
  font-family: 'Katamari-serif', Fallback, sans-serif;
  font-size: 400%;
  right: 0px;
  width: 30%;
  border: 3px solid #73AD21;
  padding: 10px;
}
