.universe {
  position: absolute;
}

.universe {
  /* display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; */
  /* overflow: hidden;
  position: relative; */
}
 /* Hue animation for Katamari */
.katamari {
  animation: hueRotation 2s linear 200ms infinite;
  /* height: 120px;
  width: 120px; */
  border-radius: 50%;
  /* position: relative; */
}


@keyframes hueRotation {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}

img#poolHUD {
  margin: -45%;
  color: black;
  /* width: 100%;
  height: 100%; */
}

.rotate {
  animation: rotation 40s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#pool_amount {
  font-family: 'Rationale', sans-serif;
  color: black;
  margin: 5% 10%;
  font-size: 2.5em;
  text-shadow: white 1px 1px 1px;
 

  /* For creating hue animation for text  */

  /* font-family: 'Rationale', sans-serif;
	font-size: 2.5em;
	font-weight:  100;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
  text-shadow:  black 2px 3px 3px ;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear; */
}

/* @-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
} */

  #pool_amount eth {
    font-size: 2em;
  }

  #pool_amount dai {
    font-size: 1.5em;
  }

  #pool_amount nft {
    font-size: 1em;
  }

  #pool_amount img {
    width: 5%;
    height: 5%;
  }
  
 /* How to get a div off of the screen
  .outer {
    overflow: hidden;
    position: relative;
  }
  .inner {
    position: absolute;
    height: 100px;
    width: 100px;
    right: -50px;
    top: 50px;
  }

  <div class="outer">
  <div class="inner">
    CONTENT
  </div>
</div> */